@layer components {
  .defaultNavbarSettings {
    @apply bg-[--bg] py-10 px-16 lg:flex hidden items-center justify-between fixed w-screen z-30;
  }
  .defaultNavbarSettings {
    transition: opacity 0.3s ease-in-out;
  }
  
  .defaultNavbarSettings.hide {
    opacity: 0;
    pointer-events: none;
  }
  .logo {
    @apply text-2xl font-semibold text-[--primary-text] inline-block;
  }
  .navbarFlex {
    @apply flex items-center;
  }
  .navbarLinks {
    @apply px-5 py-5 relative transition duration-200 font-semibold;
  }
  .hamburgerIcon {
    @apply p-3 bg-[--primary-text] lg:hidden;
  }
}
.navbarLinks::before {
  content: "#";
  margin-right: 4px;
  color: var(--primary-text);
  visibility: hidden;
}
.navbarLinks::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #fff;
  height: 2px;
  transition: 0.5s;
}
.navbarLinks:hover::after {
  width: 100%;
}
.navbarLinks:hover::before {
  visibility: visible;
}
@tailwind components;
