@layer components {
    .defaultNavbarSettings {
        @apply bg-[#1b1b1b] py-10 px-16 flex items-center justify-between
    }
    .logo {
        @apply text-2xl font-semibold text-[#00FFFF] inline-block   
    }
    .navbarFlex {
        @apply flex items-center
    }
    .navbarLinks{
        @apply px-5 py-5 relative transition duration-200 font-semibold
    }
}
.navbarLinks::before{
    content: '#';
    margin-right: 4px;
    color: #00ffff;
    visibility: hidden;
}
.navbarLinks::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #fff;
    height: 2px;
    transition: 0.5s;
}
.navbarLinks:hover::after{
    width: 100%;
}
.navbarLinks:hover::before{
    visibility: visible;
}
@tailwind components;
