@tailwind components;
@layer components {
  .contactsContainer {
    @apply py-48 bg-[--secondary] justify-center text-[#1b1b1b];
    min-height: 100vh;
  }
  .contactsContainer .title {
    @apply text-4xl;
  }
  .social-container {
    @apply flex items-center justify-center w-full py-32 gap-12;
  }
  .social-card {
    @apply p-5 px-6 text-3xl text-[--secondary] transition duration-500 hover:scale-150 hover:text-inherit hover:shadow-2xl rounded-xl bg-white;
  }
}
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}

.hide-icons .social-card {
  opacity: 0;
  pointer-events: none;
}

.social-card {
  margin: 0 10px;
  font-size: 24px;
  color: #000;
  transition: opacity 0.5s;
}
